body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151718;
}
.menu {
    margin: 15px;
    display: flex;
    gap: 20px;
    background-color: #1e2122;
    padding: 15px;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    align-items:center;
}
.menu a {
    color: #9c9993;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
.brand {
    display: flex;
    gap: 20px;
    align-items: center;
}
.menu a:hover {
    color: #B0ADA7;
}
.menu div img{
    height: 30px;
    width: 30px;
}
form {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 90%;
    max-width: 600px;  
}
form input[type="text"] {
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    outline: none;
}
form input {
    margin: 10px;
}