body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2021;
}
.menu {
    margin: 15px;
    display: flex;
    gap: 20px;
    background-color: #e9ecef;
    padding: 15px;
    font-family: Arial, sans-serif;
    border-radius: 15px;
    align-items:center;
}
.menu a {
    color: #1f2021;
    text-decoration: none;
    
}
.menu a:hover {
    color: yellow;
}
.menu img{
    height: 30px;
    width: 30px;
}
form {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 90%;
    max-width: 600px;  
}
form input[type="text"] {
    width: 100%;         /* Toma todo el ancho del contenedor form */
    padding: 15px 20px;  /* Aumenta el alto y espacio interno */
    font-size: 18px;     /* Texto más grande */
    border-radius: 10px; /* Bordes redondeados suavemente */
    border: 2px solid #ccc;
    box-sizing: border-box; /* Asegura que el padding no desborde el ancho */
    outline: none;
}
form input {
    margin: 10px;
}